<section class="hero is-medium is-danger is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Ooops, something went wrong...</h1>
            <h2 class="subtitle">Error 404</h2>
            <br />
            <a class="button is-white is-outlined is-medium is-fullwidth"
               [routerLink]="'/'">
                <span class="icon">
                 <i class="fas fa-home"></i>
                </span>
                <span>Better head back home...</span>
            </a>
        </div>
    </div>
</section>
