<section class="section">
    <div class="container">
        <h1 class="title">Here are some links to help you start:</h1>
        <hr>
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h2>Angular</h2>
                    <ul>
                        <li>
                            <a target="_blank"
                               rel="noopener"
                               href="https://angular.io/tutorial">Angular Tutorial: Tour of Heroes</a>
                        </li>
                        <li>
                            <a target="_blank"
                               rel="noopener"
                               href="https://angular.io/cli">CLI Documentation</a>
                        </li>
                        <li>
                            <a target="_blank"
                               rel="noopener"
                               href="https://blog.angular.io/">Angular blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h2>Bulma</h2>
                    <ul>
                        <li>
                            <a target="_blank"
                               rel="noopener"
                               href="https://bulma.io/documentation/">Bulma's Documentation</a>
                        </li>
                        <li>
                            <a target="_blank"
                               rel="noopener"
                               href="https://jenil.github.io/bulmaswatch/">Bulmaswatch</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
